body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background-image: url(https://www.dicasmei.com.br/upload/dicas/x789aef374ddd155966aceb58982e300c.png.pagespeed.ic.N6YF0v6HC-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    font-family: sans-serif;
}

div {
    margin-bottom: 15px;
    
    display: flex;
    flex-direction: column;
}

input {
    all: unset;
    background-color: #FFF;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
}

input:focus {
    border: 1px solid black;
}